header{
    display: flex;
    background-color: #1f2937;
    color: white;
    height:200px;
    width:auto;
}

.logo{
    margin: 10px 200px 20px 150px;
}

.links{
    display: flex;
    gap:40px;
    margin: 20px 200px 200px 800px;
}

.stich{
    background-color: #1f2937;
    height: 400px;
    width: auto;
    color: white;
    margin-top: 0%;
}

.slogan{
    margin:0% 0 0 150px;
}

.pitch{
    margin-left: 150px;
}

.button{
    margin-left: 150px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: #3882F6;
}

a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}

a:hover{
    color:pink;
    text-decoration: none;
}

a:active{
    color:pink;
    text-decoration: none;
}

.ad{
    max-width: 100%;
    height: auto;
    display: block;
}