.ad{
    max-width: 75%;
    height: 75%;
    margin-left: 30px;
    background-size: cover;
}

body{
    margin: 0px;
}
.header-container{
    display: flex;
    background:#1F2937;
    height:fit-content;
    width: auto;
    justify-content: space-around;
    flex-direction: row;
    font-size: 18px;
    color: #e5e7eb;
}

.stitch{
    display:block;
    background: #1F2937;
    height: 470px;
    width: 50%;
    float: left;
    color: white;
    justify-content: space-around;
}

.stich-image{
    display: flex;
    background: #1F2937;
    width: 50%;
    height: 470px;
    float: right;
    background-size: cover;
}

.slogan{
    height: fit-content;
    width: fit-content;
    margin-top: 30px;
    border: 2px solid yellow;
    margin-left: 180px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.pitch{
    height: fit-content;
    width: fit-content;
    border: 2px solid yellow;
    margin-left: 180px;
    font-size: 18px;
    color: #e5e7eb;
    
}

.button{
    height: fit-content;
    width: fit-content;
    border: 2px solid yellow;
    margin-left: 180px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: #3882F6;
    color: white;
}

.logo{
    color: white;
    border: 2px solid yellow;
}

.links{
    display: flex;
    border: 2px solid yellow;
    gap:20px;
}

a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}

a:hover{
    color:pink;
    text-decoration: none;
}

a:active{
    color:pink;
    text-decoration: none;
}