.ad {
  background-size: cover;
  margin-bottom: 5%;
  margin-right: 5%;
  overflow: hidden;
}

body {
  margin: 0px;
}

.center-header{
display: flex;
height: fit-content;
width: 100%;
justify-content: center;
}

.center-slogan{
    font-weight: bold;
    color: #1f2937;
}

.center-stitch{
    display: flex;
    height: 400px;
    width: 100%;
}
.options{
  display: flex;
  height: fit-content;
  width:100%;
  justify-content: space-around;
}

.header-container {
  background: #1f2937;
  color: #e5e7eb;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  height: fit-content;
  justify-content: space-evenly;
}
.stitch {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  float: left;
  height: 400px;
  width: 50%;
}
.stich-image {
  align-items: center;
  background: #1f2937;
  display: flex;
  float: right;
  height: 400px;
  justify-content: center;
  width: 50%;
}

.slogan {
  align-self: center;
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
  height: fit-content;
  width: fit-content;
}

.sports-car{
    border: 5px solid #3882f6;
    border-radius: 15px;
}
.model-t{
  border:5px solid #3882f6;
  border-radius: 15px;
}

.castle-forest{
  border: 5px solid #3882f6;
  border-radius: 15px;
}

.castle-hotel{
  border:5px solid #3882f6;
  border-radius: 15px;
}
.pitch {
  align-self: center;
  color: #e5e7eb;
  font-size: 18px;
  height: fit-content;
  margin-bottom: 50px;
  margin-right: 9%;
  width: fit-content;
}

.button {
  background: #3882f6;
  border-radius: 5px;
  border: #3882f6;
  color: white;
  padding: 3px 15px 3px 15px;
}

.logo {
  color: white;
  color: #f9faf8;
  font-size: 24px;
  height: fit-content;
  margin-right: 28%;
  width: fit-content;
}

.links {
  background: #1f2937;
  display: flex;
  gap: 20px;
  height: fit-content;
  justify-content: center;
  margin-top: 1%;
}

.sign {
  align-self: center;
  display: flex;
  margin-right: 53%;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: pink;
  text-decoration: none;
}

a:active {
  color: pink;
  text-decoration: none;
}
