#navbar {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  border: 2px solid red;
  float: left;
}

.navlink {
  position: sticky;
  margin: 20px;
}

#main-doc {
  display: flex;
  flex-direction: column;
}

.main-section {
  width: 100%;
  height: fit-content;
}

.logo {
  font-size: 40px;
  left: 40px;
  position: relative;
}

li {
  position: relative;
  left: 100px;
}

p {
  position: relative;
  left: 40px;
}
