html {
  background-color: bisque;
  display: flex;
  inline-size: 100%;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#link-red:hover {
  color: red;
}

#link-brown:hover {
  color: #80461b;
}
#link-red-brown:hover {
  color: brown;
}

#link-green:hover {
  color: green;
}

#link-blue:hover {
  color: blue;
}

.header {
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

#navbar {
  display: flex;
  flex-direction: column;
  float: left;
  font-size: 20px;
  height: 500px;
  overflow-y: scroll;
  position: sticky;
  top: 50px;
  width: fit-content;
}

.navlink {
  height: 100%;
  margin-bottom: 15px;
  margin-right: 30px;
}

#main-doc {
  border-left: 2px solid grey;
  display: flex;
  flex-direction: column;
  max-width: 75%;
}

.main-section {
  height: fit-content;
  margin-bottom: 30px;
  width: 100%;
}

.logo {
  font-size: 40px;
  left: 40px;
  position: relative;
}

li {
  left: 100px;
  position: relative;
}

p {
  left: 40px;
  position: relative;
}

.cairo {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-left: 20px;
  margin-top: 20px;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  #navbar {
    border-bottom: 2px grey solid;
    border-left: 0px;
    border-right: 0px;
    border-top: 2px grey solid;
    display: flex;
    float: none;
    font-size: 20px;
    height: 200px;
    overflow-y: auto;
    position: static;
    text-align: center;
    width: 100%;
  }

  .navlink {
    border-bottom: none;
    height: 100%;
    margin: 20px;
  }

  .header {
    border-bottom: none;
    display: flex;
    font-size: 20px;
    justify-content: center;
    width: 100%;
  }

  #main-doc {
    border: none;
    inline-size: 85%;
  }

  .main-section {
    margin-bottom: 30px;
  }

  .cairo {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: 50px;
    margin-top: 20px;
    width: 100%;
  }
}

li {
  font-weight: bolder;
}
