.navbar {
    height: var(--nav-size);
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border);
}

.navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav-item {
    width: calc(var((--nav-size) * 0.8));  /* 80% of nav-size */ 
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button {
    --button-size: calc(var(--nav-size) * 0.5);  /* 50% of nav-size */
    width: var(--button-size);
    height: var(--button-size);
    background-color: var(--bg-accent);
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 300ms;
}

.icon-button:hover{
    filter: brightness(1.2);
}

.icon-button svg {
    width: 100%;
    height: 100%;
}

.dropdown {
    position: absolute;
    background-color: var(--bg);
    top:5rem;
    width: 200px;
    transform: translateX(-45%);    
}

.menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
}

.menu-item:hover {
    background-color: var(--bg-accent);
}

.icon-right {
    margin-left: auto;
}