@mixin center {
  display: grid;
  place-items: center;
  height: 20vh;
  font-size: 5vh;
  font-style: italic;
  text-align: center;
}

img {
  width: 100%;
  object-fit: cover;
  padding-top: 2vh;
}

#header {
  @include center;
}

#sidebar {
  height: 10vh;
}

#sidebar li {
  height: auto;
  width: 70%;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 0 5px #e5e5e5;
  margin-bottom: 5vh;
}

#sidebar li:hover {
  cursor: pointer;
}

#sidebar h2 {
  text-align: center;
}

#recipes {
  height: 60vh;
  overflow-y: scroll;
}

#footer {
  @include center;
  height: 10vh;
}

li {
  margin-bottom: 1vh;
  list-style-type: none;
}
