.container {
  background: lightblue;
  display: flex;
  border: 2px solid red;
  padding: 100px;
}

.container div {
  background: purple;
  border: 2px solid white;
  height: 100px;
  padding: 20px;
  flex: 1 1 0%;
}

.container .one {
  background-color: aqua;
  flex: 3 1 0%;
}

.box {
  border: 2px solid black;
  padding: 10px;
  margin: 20px auto;
}

.smallbox {
  width: 100%;
}

.red {
  background-color: red;
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 20px auto;
  min-height: 100px;
}

.blue {
  background-color: blue;
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 20px auto;
  min-height: 100px;
}

.green {
  background-color: green;
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 20px auto;
  min-height: 100px;
}

.black {
  background-color: black;
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 20px auto;
  min-height: 100px;
}
