* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: bisque;
}

header {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#image {
  max-width: 100%;
  height: auto;
}

h2 {
  text-align: center;
}

#main {
  display: flex;
  flex-direction: column;
}

li {
  margin-bottom: 40px;
}

footer {
  text-align: center;
  margin-top: 40px;
}

span {
  font-weight: bold;
}
